:root {
  --background-blue: #87B5B5;
  --header-blue: #4AA3A3;
  --component-bg: #C0D8D8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-blue);
  line-height: 1.5;
  font-size: 1.6rem;
}

#root {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 80rem;
  margin: 2rem 0;
}

#editor,
.preview-container {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
  background-color: var(--component-bg);
  border-radius: 0 0  9px 9px;
}

.editor-header,
.preview-header {
  border-bottom: 2px solid black;
  background-color: var(--header-blue);
  font-weight: bold;
  padding: 0rem 1rem;
  font-size: 2.4rem;
  font-family: 'VT323', monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-header div,
.preview-header div {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

#preview {
  padding: 1rem 2rem;
}

#editor {
  width: 50rem;
  min-height: 14rem;
  border: none;
  outline: none;
  resize: vertical;
  padding: 0.6rem;
  background-color: var(--component-bg);
}

#preview img {
  max-width: 100%;
}